<!DOCTYPE html>

<html>

<head>

    <meta name="viewport" content="width=device-width" />
    <title>MaaltijdApplicatie</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/styles.css">

    <!-- Validation error styles -->
    <style>
        .input-validation-error {
            border-color: red;
            background-color: #fee;
        }
    </style>

</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark" role="navigation">

        <a class="navbar-brand" asp-action="List" asp-controller="Meal">Maaltijd app</a>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

            <div class="navbar-nav mr-auto">
            </div>

            <div class="navbar-nav">
                @if (User.Identity.IsAuthenticated) {
                    <a class="nav-item nav-link" asp-controller="Account" asp-action="Edit">Hallo @User.Identity.Name</a>
                    <a class="nav-item nav-link" asp-controller="Account" asp-action="Logout">Log uit</a>
                } else {
                    <a class="nav-item nav-link" asp-controller="Account" asp-action="Create">Registreren</a>
                    <a class="nav-item nav-link" asp-controller="Account" asp-action="Login">Log in</a>
                }
            </div>

        </div>

</nav>

    <!-- Content -->
    <div class="row m-1 p-1">

        <div class="col-12">

                @if (TempData["message"] != null) {
                    <div class="alert alert-success m-1 mb-3">@TempData["message"]</div>
                }

                @if (TempData["general_error"] != null) {
                    <div class="alert alert-danger m-1 mb-3">@TempData["error"]</div>
                }

            @RenderBody()

        </div>

    </div>

</body>

</html>
