<!DOCTYPE html>

<html>

<head>

    <meta name="viewport" content="width=device-width" />
    <title>MaaltijdApplicatie</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/styles.css">

</head>

<body>

    <!-- Navbar -->
    <div class="navbar navbar-default navbar-dark" role="navigation">
        <a class="navbar-brand" href="#">Maaltijd app</a>
    </div>

    <!-- Content -->
    <div class="row m-1 p-1">

        <div class="col-12">
            @RenderBody()
        </div>

    </div>

</body>

</html>
