@model MealDate

<div class="card bg-light card-outline-primary m-1 mb-2">

    <div class="card-header p-1">
        <h4>
            @if (Model?.Date.Date == DateTime.Today.Date) {
                @:Vandaag
            } else {
                @(Model.DayOfWeekString + " " + Model.Date.Day + " " + Model.MonthString);
            }
            <span class="badge badge-info m-1" style="float:right">
                <small>@Model.Meal?.Price.ToString("c")</small>
            </span>
        </h4>
    </div>

    @if (Model.Meal != null) {

        @Html.Partial("MealDateSummaryWithMeal", Model);

    } else {

        @Html.Partial("MealDateSummaryWithoutMeal", Model);

    }

</div>