@model MealDate

<p class="card-text">Geen maaltijd</p>

<form asp-controller="Meal" asp-action="Create" method="post">

    <input type="hidden" asp-for="Date" value=@Model.Date />
    <input type="hidden" asp-for="DayOfWeekString" value=@Model.DayOfWeekString />
    <input type="hidden" asp-for="MonthString" value=@Model.MonthString />

    <button type="submit" class="btn btn-primary">
        Maaltijd aanmaken
    </button>

</form>