@model MealDate

<div class="card bg-light card-outline-primary m-1">

    <div class="card-header p-1">
        <h4>
            @Model.DayOfWeekString @Model.Date.Day @Model.MonthString
        </h4>
    </div>

    <button type="button" class="btn btn-danger m-1 p-1">
        Maaltijd aanmaken
    </button>

</div>