@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>

<body>
    <h2>Error.</h2>
    <h3>An error occurred while processing your request.</h3>
</body>

</html>